<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/stylesheets/notes_list.css"/>
  </head>

  <body>

    <%- include('../partials/nav2'); %>

    <div class="container-fluid">
      <div class="row wrap hidden-xs">
        <div class="col-sm-2 col-xs-0"></div>
        <div class="col-sm-8 col-xs-11">
          <div class="text-center">
            <a style="margin: 50px;" type="button" class="btn btn-lg btn-default inline-block" href="/new">
              <i class="fas fa-sticky-note"></i>
              <span style="letter-spacing: 3px;">NEW NOTE</span>
            </a>
          </div>

          <ul class="inline-block" style="margin-bottom: 30px;">
            <% results.forEach(function(r) { %>
                <li style="list-style-type: none; padding: 15px 0px;">
                  <a href="/notes/<%= r.id %>" style="text-decoration: none;" class="lead"><span><%= r.n_title %></span></a>
                  <div class="pull-right">
                    <a class="hidden-xs" title="Delete note"><i class="fas fa-trash-alt fa-2x delete-note" id="<%= r.id %>"></i></a>
                  </div>
                </li>
            <% }); %>
          </ul>
        </div>
        <div class="col-sm-2 col-xs-1 col-xs-offset-2"></div>
      </div>

      <div class="row hidden-lg hidden-md hidden-sm">
          <div class="text-center">
            <a style="margin: 50px;" type="button" class="btn btn-lg btn-default inline-block" href="/new">
              <i class="fas fa-sticky-note"></i>
              <span style="letter-spacing: 3px;">NEW NOTE</span>
            </a>
          </div>

          <ul class="inline-block" style="margin-bottom: 30px; width: 90%;">
            <% results.forEach(function(r) { %>
                <li style="list-style-type: none; padding: 15px 0px;">
                  <a href="notes/<%= r.id %>" style="text-decoration: none;" class="lead"><span><%= r.n_title %></span></a>
                  <div class="pull-right">
                    <a title="Delete note"><i class="fas fa-trash-alt delete-note" id="<%= r.id %>"></i></a>
                  </div>
                </li>
            <% }); %>
          </ul>
      </div>
    </div>

    <footer style="text-align: center;">
      <p>Signed in as <%= name %></p>
      <%- include('../partials/footer', {loggedIn: true}); %>
    </footer>

    <script>
      $(document).ready(() => {
        $('.delete-note').on('click', (e) => {
          console.log(e.target);
          $.ajax({
            type: 'DELETE',
            url: '/notes/' + e.target.id + '/delete',
            success: function(data) {
              window.location = '/notes'
            }
          });
        });
      });
    </script>
  </body>
</html>
